<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>

<style>




h3 {
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  padding: 1rem 2rem;
  color: #fff;
  background: #000;
}

h3 span {
  background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


</style>
</head>
<body>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

	<a href="/new"><button type="button">新規投稿</button> </a>
	<form method="get" action="/">
		日付：
		<input type="date" name="start" value='<c:out value="${start}"/>'> ～
		<input type="date" name="end" value="${end}">
		<input type="submit" value="絞込" />
	</form>


	<table border="1">
		<tr>
			<h3><span>投稿内容</span></h3>
		</tr>
		<tr th:each="content : ${contents}">

			<td th:text="${content.content}">

				<td>
					<form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
						<input type="submit" style="background-color:#FF3366" value="削除" />
					</form>

					<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button" style="background-color:#55FFFF">編集</button> </a><br>

					<input class="test-1" type="submit" style="background-color:#55FFFF" value="詳細" />
				</td>

				<td>

					<div class="txt-1">
					【投稿詳細】<br>
					⇩<br>
					投稿時間
					<p th:text="${content.createdDate}"></p>
					編集時間
					<p th:text="${content.updatedDate}"></p>
					ID
					<p th:text="${content.id}"></p>
					</div>
				</td>


				<td>
					<form method="post" action="/reply" th:object="${formModel}">

						<input type="text" name="content" size="50" maxlength="200" />
						<input type="hidden" name="reportId" th:value="${content.id}">
						<input type="submit" style="background-color:lime" value="コメント" />
					</form>
				</td>





				<td>
					<button class="test-2"  type="button" style="background-color:#55FFFF">詳細</button> </a>
				<div class="apple-3">
					<div class="txt-2" th:each="comment : ${comments}">
						<div  th:if="${content.id == comment.reportId}">
							<p  th:text="${comment.content}"></p>
							<form  th:method="delete" th:action="@{/deleteComments/{id}(id=${comment.id})}">
								<input  type="submit" style="background-color:#FF3366" value="削除" />
							</form>
							<a  th:href="@{/editComments/{id}(id=${comment.id})}"><button type="button" style="background-color:#55FFFF">編集</button> </a>
						</div>
					</div>

				</div>
				</td>

		</tr>





	</table>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script>

	$(function(){



			$(".test-2").each(function(i){
				$(this).attr("class", "test" + (i + 1));
			});

			$(".apple-3").each(function(i){
				$(this).attr("class", "test" + (i + 1));
			});


			$("[class^=test]").on("click", function(){
				$(".test-3").slideToggle();

			});

			$(".test-1").on("click", function(){
				$(".txt-1").slideToggle();


		});
	});

	</script>

</body>
</html>