<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
<style>

h2 {
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  padding: 1rem 2rem;
  color: #fff;
  background: #000;
  text-align: center;
}

h2 span {
  background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.flame10 {
padding: 1em;
margin: 2em auto;
width:70%;
color: #696969;
background: #ffffe0;
border-left: solid 15px #ff8c00;
}

[class^=lame] {
margin: 2em auto;
padding: 1em;
width: 70%;
color: #606060;
background-color: #faf0e6;
border: 2px solid #deb887;
border-radius: 10px;
text-align: center;
 display: none;

}

.flame16{
margin: 2em auto;
padding: 1em;
width: 80%;
background-color: #ffceb2;
color: #606060;
box-shadow: 0 0 5px 1px #b2b2b2;
border-radius: 10px;
text-align: center;
}

.flame100{
text-align: right;
}

.flame99{
text-align: left;
}

.flame98{
text-align: right;
}

.testtest{
text-align: right;
}

.box23 {
    position: relative;
    margin: 2em 0 2em 40px;
    padding: 8px 15px;
    background: #fff0c6;
    border-radius: 30px;
}

.box25{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.box25:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
    margin: 0;
    padding: 0;
}


</style>
</head>
<body>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

	<a href="/new"><button type="button">新規投稿</button> </a>
	<form method="get" action="/">
		日付：
		<input type="date" name="start" value='<c:out value="${start}"/>'> ～
		<input type="date" name="end" value="${end}">
		<input type="submit" value="絞込" />
	</form>

	<h2><span>投稿内容</span></h2>



	<div th:each="content : ${contents}">
		<div class="flame10">

		<p th:text="${content.id}"></p>
			<div class="flame16">

				<div class="box25">
					<a th:text="${content.content}"></a>
					<div class="testtest">
						<form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
							<input type="submit" style="background-color:#FF3366" value="削除" />
							<a th:href="@{/edit/{id}(id=${content.id})}">
								<button type="button" style="background-color:#55FFFF">編集</button>
							</a>
						</form>
					</div>
				</div><br>

				<div class="flame98">
					<form method="post" action="/reply" th:object="${formModel}">

						<textarea name="content" rows="4" cols="100"></textarea>
						<input type="hidden" name="reportId" th:value="${content.id}">
						<input type="submit" style="background-color:lime" value="コメント" />
					</form>
					<input class="test-2" type="submit" style="background-color:#55FFFF" value="コメント一&nbsp;覧表示&nbsp;or&nbsp;非表示" />
				</div>

			</div>
			<div class="lame14">
				<div th:each="comment : ${comments}">
					<div  th:if="${content.id == comment.reportId}">
						<div class="flame99">
							<p th:text="${comment.id}"></p>
						</div>
						<div class="box23">
							<p th:text="${comment.content}"></p>
						</div>
						<div class="flame98">
						投稿時間&nbsp;&nbsp;<a th:text="${comment.createdDate}"></a>
							<form  th:method="delete" th:action="@{/deleteComments/{id}(id=${comment.id})}">
								<input  type="submit" style="background-color:#FF3366" value="削除" />
								<a  th:href="@{/editComments/{id}(id=${comment.id})}"><button type="button" style="background-color:#55FFFF">編集</button> </a>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="flame100">
				投稿時間&nbsp;&nbsp;<a th:text="${content.createdDate}"></a><br>
				編集時間&nbsp;&nbsp;<a th:text="${content.updatedDate}"></a>
			</div>

		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script>


	$(function(){

		$(".test-2").each(function(i){
			$(this).attr("class", "test" + (i + 1));
		});

		$(".lame14").each(function(j){
			$(this).attr("class", "lame" + (j + 1));
		});
	});

	$(function() {
	    for(let i = 0; i < 100; i++) {
	        $('.test' + i) .on('click', function() {
	            $('.lame' + i).slideToggle();
	        });
	    }
	});



	</script>


</body>
</html>